body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    min-height: 40vh;
    text-align: center;
}

h3 {
    text-decoration-line: underline;
}

li {
    text-align: left;
}

.container {
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px
}

img {
    max-width: 100%;
    border-radius: 100%;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

/* Apply animation to this class */
.animated-box {
    background-color: #3a89de;
    animation: fadeInOut 3s infinite;
    margin: 50px auto;
}