<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mickiewicz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <h1>Witamy na kółku programistycznym</h1>
    <img src="{{ url_for('static', filename='Mickiewicz.jpeg') }}" alt="Mickiewicz">
</header>
<main>
</main>
<footer>
    <p>Szkoła Podstawowa nr 1 im. Adama Mickiewicza w Radlinie
ul. K. Makuszyńskiego 17, 44-310 Radlin</p>
</footer>
</body>
</html>