<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mickiewicz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1 class="animated-box">Witamy na kółku programistycznym</h1>
        <img src="{{ url_for('static', filename='Mickiewicz.jpeg') }}" alt="Mickiewicz">
    </header>
    <main>
        <h2>Nasz projekt - obszary rozwoju</h2>
            <h3>Profesjonalne</h3>
                    <div class="container">
                        <h4>Poznaję domenę IT</h4>
                        <ul>
                            <li>FrontEnd, BackEnd</li>
                            <li>SCRUM, Kanban</li>
                            <li>Developer, Tester, Project Manager</li>
                            <li>Architekt, Product Owner, DevOps</li>
                            <li>baza danych, Python, http, …</li>
                            <li>repozytorium</li>
                        </ul>
                    </div>
                    <div class="container">
                        <h4>“Mówię” obrazami</h4>
                        <ul>
                            <li>Wizualizacja problemów, procesów, algorytmów</li>
                        </ul>
                    </div>
                    <div class="container">
                        <h4>Przekuwam "niemożliwe" w Projekt</h4>
                        <ul>
                            <li>Podział projektu na etapy, zadania, płaszczyzny</li>
                            <li>Organizacja pracy: podział zadań, status prac, kamienie milowe</li>
                        </ul>
                    </div>
                    <div class="container">
                        <h4>Nie boję się występować publicznie</h4>
                        <ul>
                            <li>Prezentacja przed audytorium</li>
                            <li>Posty na Facebook’a</li>
                        </ul>
                    </div>
                    <div class="container">
                        <h4>Piszę kod</h4>
                        <ul>
                            <li>Oczywiście, że tak!</li>
                        </ul>
                    </div>

            <h3>Prywatne</h3>
                    <div class="container">
                            <h4>Jestem kreatywny</h4>
                            <ul>
                                <li>Burza mózgów</li>
                                <li>Dopalacz - ChatGPT</li>
                            </ul>
                    </div>
                    <div class="container">
                            <h4>Konsekwentnie dążę do wyznaczonego sobie celu</h4>
                            <ul>
                                <li>Kontrakt ze szkołą</li>
                                <li>Spotkania sprawozdawcze</li>
                                <li>Regularna praca nad projektem</li>
                                <li>Jeżeli coś mnie interesuje, potrafię temu poświęcić swój wolny czas</li>
                                <li>Dobrowolne zadania domowe</li>
                            </ul>
                    </div>
                    <div class="container">
                            <h4>Współpracuję</h4>
                            <ul>
                                <li>Praca w grupie</li>
                            </ul>
                    </div>
                    <div class="container">
                            <h4>Dostrzegam problem i potrafię go podejść</h4>
                            <ul>
                                <li>Definiowanie problemów oraz ich możliwych rozwiązań</li>
                            </ul>
                    </div>
</main>
<footer>
    <p>Szkoła Podstawowa nr 1 im. Adama Mickiewicza w Radlinie ul. K. Makuszyńskiego 17, 44-310 Radlin</p>
</footer>
</body>
</html>